<h1>StockAnnotator</h1>
<p>A tool for personal investors to make annotations and journal entries so that they can <br> keep track of their thoughts and reasonings, and reflect on them at a later point.</p>

<div class="row row">
  <div class="col-md-8 stock-chart">.col-md-8</div>
  <div class="col-md-2 stock-ticker">.col-md-2</div>
  <div class="col-md-2 annotation">.col-md-2</div>
</div>