// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$nav-top: 50px;

body {
  padding: $nav-top;
}

.stock-chart{
  background-color: white;
}

.stock-ticker{
  background-color: #eee;
  height: 300px;
}

.btn-default {
  margin-bottom: 15px;
}

.stock_item {
  float: top;
}

.below{
  background-color: white;
  height: 400px;
}

.annotation {
  background-color: gray;
}

.annotation_item {
  background-color: #eee;
}

.show-annotation {
  background-color: white;
}

.insert-ticker {
  margin-top: 15px;
}

.input_board {
}

.user-annotations {
  height: 400px;
}

.search {
  width: 20%;
  float: center;
  margin-left: -15px;
}